/*
=======================================================
CSS for Game of Thrones Hangman game
=======================================================
*/

body {
    background-color:black;
    background-image: url(../images/ricksGarageMain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1;
}

p {
    color:#80f442;
}

/*
=======================================================
NavBar 
=======================================================
*/

.navbar {
    padding: 0; 
    background-color: black;
    border-bottom: 2px solid #33bfcc;
    text-align: center;
}

.img-fluid {
    width: 40%;
    height: 50px;
    margin-bottom: 4px;
    margin-top: 6px;
}

/*
=======================================================
Character Display Box
=======================================================
*/

.character_selection {
    margin-top: 65px;
    text-align: center;
    width: 100%;
    height: 190px; 
}

#prompts {
    font-size: 24px;
    color: #80f442;
}

#characterOptions {
    display: inline;
}

.character {
    display: inline-block;
    height: 115px;
    margin: 0px 10px;  
    letter-spacing: 1px;
}

.character img {
    position: relative;
    width: 90px;
    border-radius: 50px;
    border: 2px solid #33bfcc;
    margin-top: 12px;
    margin-bottom: 8px;
    /* letter-spacing: 2px; */
    /* background-color: #80f442; */
}

.character img:hover {
    background-color: #80f442;
    transform: scale(1.1);
    /* border-color: #80f442; */
}

.HPdisplay {
    position: relative;
    text-align: center;
    font-size: 14px;
    color: #80f442;
    margin-top: 5px;
}

/*
=======================================================
Battle Display Box
=======================================================
*/

.battle_display {
    width: 100%;
    height: 300px;
    /* border: 2px solid #80f442; */
    float: left;
    text-align: center;
    margin-top: 5px;   
}

#character_display {
    width: 100%;
    height: 325px;
    color:#80f442;
}

#duel {
    color: #33bfcc; 
    font-weight: bold;
    font-size: 42px; 
    text-align: center;
}

body #messageLog {
    /* opacity: 0.5; */
    background-color:rgba(250, 246, 246, 0.452);
}

#messageLog {
    /* border: 2px solid #80f442; */
    width: 100%;
    height: 125px;
    text-align: center;
    color: darkgreen;
    font-size: 22px;
    font-weight: bolder;   
    border: 4px solid #33bfcc;
    border-style: double;
    

}

.attackButton {
    background: #33bfcc;
    color: #80f442;
    border: 1px solid #80f442;
    border-radius: 20px;
    margin-top: 10px;
    letter-spacing: 2px;
}

.attackButton:hover {
    background: #80f442;
    color: #33bfcc;
    transform: scale(1.1);
}

#enemy_display {
    width: 100%;
    height: 325px;
    color:#80f442;
}

.restartButton {
    background: #33bfcc;
    color: #80f442;
    border: 1px solid #80f442;
    border-radius: 20px;
    margin-top: 10px;
    letter-spacing: 2px;
}

.restartButton:hover {
    background: #80f442;
    color: #33bfcc;
    transform: scale(1.1);
}

/*
=======================================================
Footer
=======================================================
*/

#mainFooter {
    padding: 10px;
    background: black;
    border-top: 2px solid #33bfcc;
}

footer small {
    margin: 0;
    color: #33bfcc;
    font-size: 0.7em;
    padding: 12px 0;
    text-align: center;
}